.belajarpage {
  background: url("../../assets/background/background-polos.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  .button {
    padding: 20px;
    position: absolute;
  }
  .container {
    text-align: center;
    margin-top: 30px;
  }
  .title-page {
    color: white;
    font-size: 3rem;
    font-weight: 800;
  }
}
