.level3-soal1 {
  display: flex;
  flex-direction: column;

  .soal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    transition: 0.2s;
    img:not(.operator) {
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .jawab {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 200px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .operator {
    width: 80px;
    height: 80px;
  }
}
