.homepage {
  background-image: url("../../assets/background/background-main.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .title {
    padding-top: 50px;
    color: white;
    font-weight: 700;
    font-size: 5rem;
  }

  .buttons {
    height: 50%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
